<div class="col-sm-5">
	<div class="row">
		<div class="col-sm-3 text-right"><strong>Name</strong></div>
		<div class="col-sm-9" ng-bind="zws(name)"></div>
	</div>
	<div class="row">
		<div class="col-sm-3 text-right"><strong>Status</strong></div>
		<div class="col-sm-9" ng-bind="state.last.Status"></div>
	</div>
	<div class="row">
		<div class="col-sm-3 text-right"><strong>Since</strong></div>
		<div class="col-sm-9" ts-time="state.last.Time"></div>
	</div>
	<div class="row">
		<div class="col-sm-3 text-right"><strong>Touched</strong></div>
		<div class="col-sm-9" ts-time="state.Touched"></div>
	</div>
	<div class="row">
		<div class="col-sm-3 text-right"><strong>History</strong></div>
		<div class="col-sm-9">
			<a ng-href="/history?key={{encode(name)}}" ng-bind="name"></a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 text-right"><strong>Expr</strong></div>
		<div class="col-sm-9">
			<a ng-href="/expr?expr={{btoa(state.Expr)}}" ng-bind="zws(state.Expr)"></a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 text-right"><strong>Silence</strong></div>
		<div class="col-sm-9">
			<a class="btn btn-default btn-xs" ng-href="/silence?duration=1h&alert={{state.Alert}}&tags={{encode(state.Tags)}}">1 hour</a>
		</div>
	</div>
	<div class="row">
		<div class="col-sm-3 text-right"><strong>Actions</strong></div>
		<div class="col-sm-9">
			<ts-ack></ts-ack>
			<ts-close></ts-close>
			<ts-forget ng-if="group.Status == 'unknown'"></ts-forget>
		</div>
	</div>
</div>
<div class="col-sm-7">
	<table class="table table-striped table-condensed">
		<thead>
			<tr>
				<th>Computation</th>
				<th>Value</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="c in state.Computations">
				<td><a ng-href="/expr?expr={{btoa(c.Text)}}" ng-bind="c.Text"></a></td>
				<td ng-bind="c.Value"></td>
			</tr>
		</tbody>
	</table>
</div>