<div class="row">
	<div class="col-lg-12 timeline" ts-time-line></div>
</div>
<div class="row">
	<div class="panel-group" ng-repeat="entry in entries" ng-init="name = entry.key; a = entry.value">
		<div class="panel panel-default">
			<div class="panel-heading panel-title" ng-click="collapse('group' + $index)">
				<span ng-bind="name"></span>
				<span class="pull-right" ng-bind="a.History.length + ' events'"></span>
			</div>
			<div class="panel-body" ng-if="shown['group' + $index]">
				<div class="panel-group">
					<div class="panel" ng-class="panelClass(v.Status)" ng-repeat="v in a.History">
						<div class="panel-heading" ng-click="collapse('panel' + $parent.$index + '-' + $index)" id="{{'panel' + $parent.$index + '-' + $index}}">
							<h4 class="panel-title">
								<a href>
									<span ng-bind="name + ': ' + v.Status"></span>
									<span class="pull-right" ng-show="v.Time" ts-time="v.Time" ts-end-time="v.EndTime" no-link="true"></span>
								</a>
							</h4>
						</div>
						<div class="panel-body" ng-if="shown['panel' + $parent.$index + '-' + $index]">
							<div class="col-sm-6">
								<div ng-show="v.Warn" ts-computations="v.Warn.Computations" time="v.Time" header="'Warn Computations'"></div>
							</div>
							<div class="col-sm-6">
								<div ng-show="v.Crit" ts-computations="v.Crit.Computations" time="v.Time" header="'Crit Computations'"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
