<style>
	h4.panel-title {
		cursor: pointer; cursor: hand;
	}
</style>
<div class="panel-group" ng-repeat="(ack, groups) in schedule.Groups">
	<h2 ng-bind="ack"></h2>
	<div class="panel" ng-class="panelClass(group.Status)" ng-repeat="group in groups" ng-init="idx = $index; state = schedule.Status[group.Key]; name = group.Key">
		<div class="panel-heading" ng-click="collapse(idx)">
			<h4 class="panel-title">
				<a href>
					<span class="glyphicon" ng-class="{'glyphicon-exclamation-sign': group.Active || (state.last.Status && state.last.Status != 'normal')}"></span>
					<span ng-bind="group.Subject || group.Key"></span>
					<span class="pull-right" ng-show="group.Len">{{group.Len}} alerts</span>
					<span class="pull-right" ng-show="group.Ago" ts-since="group.Ago"></span>
				</a>
			</h4>
		</div>
		<div class="panel-body" ng-if="state && shown[idx]" ts-state></div>
		<div class="panel-body panel-group" ng-if="group.Children && shown[idx]">
			<div class="panel" ng-class="panelClass(state.last.Status)" ng-repeat="child in group.Children" ng-init="idx = idx + '-' + $index; state = schedule.Status[child.Key]; name = child.Key">
				<div class="panel-heading" ng-click="collapse(idx)">
					<h4 class="panel-title">
						<a href>
							<span class="glyphicon" ng-class="{'glyphicon-exclamation-sign': state.last.Status && state.last.Status != 'normal'}"></span>
							<span ng-bind="child.Subject || child.Key"></span>
							<span class="pull-right" ng-show="child.Ago" ts-since="child.Ago"></span>
						</a>
					</h4>
				</div>
				<div class="panel-body" ng-if="state && shown[idx]" ts-state></div>
			</div>
		</div>
	</div>
</div>