<div class="panel-group" id="accordion">
	<div
		class="panel"
		ng-repeat="(name, state) in schedule.Status"
		ng-class="panelClass(state.last.Status)"
	>
		<div class="panel-heading" ng-click="collapse($index)">
			<h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" title="{{name}}" href>
					<span ng-bind="state.Subject || name"></span>
					<span class="pull-right" ng-bind="state.last.Time.fromNow()"></span>
				</a>
			</h4>
		</div>
		<div id="collapse{{$index}}" class="panel-collapse collapse">
			<div class="panel-body" ts-state></div>
		</div>
	</div>
</div>