<style type="text/css">
	.chart {height:600px;}
</style>
<div class="row">
	<form role="form" class="form-horizontal">
		<fieldset>
			<div class="col-lg-4">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">Metric</span>
						<input type="text" class="form-control" ng-model="metric" ng-options="m for m in metrics" placeholder="Metric" ng-change="GetTagKByMetric()" bs-typeahead>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">Aggregator</span>
						<select ng-model="aggregator" ng-options="agg for agg in aggregators" class="form-control"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">Start Time</span>
						<input type="text" class="form-control" ng-model="start">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">End Time</span>
						<input type="text" class="form-control" ng-model="end">
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-default" ng-click="MakeQuery()" class="form-control">Query</button>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="col-lg-3">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">Downsample</span>
						<select ng-model="ds" ng-options="agg for agg in dsaggregators" class="form-control"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">Downsample Time</span>
						<input type="text" class="form-control" ng-model="dstime">
					</div>
				</div>
				<div class="form-group">
					<button type="button" class="btn btn-default" ng-model="rate" bs-checkbox>Rate</button>
				</div>
			</div>
		</fieldset>
		<fieldset>
			<div class="col-lg-5">
				<div ng-repeat="(k, v) in tagset">
					<div class="form-group">
						<div class="input-group">
							<span class="input-group-addon">{{k}}</span>
							<input type="text" class="form-control" ng-model="tagset[k]" ng-options="tv for tv in tagvs[k]" bs-typeahead>
						</div>
					</div>
				</div>
			</div>
		</fieldset>
	</form>
</div>
<div class="row" ng-show="error">
	<div class="col-lg-12">
		<div class="alert alert-danger" ng-bind="error"></div>
	</div>
</div>
<div class="row" ng-show="running">
	<div class="col-lg-12">
		<div class="alert alert-info">Executing: {{running}}</div>
	</div>
</div>
<div class="row">
	<div google-chart ng-model="result" class="chart"></div>
</div>