<style type="text/css">
	.chart {height:600px;}
</style>
<div class="row">
	<form role="form">
		<div class="col-lg-4">
			<div class="form-horizontal">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">Metric</span>
						<input type="text" class="form-control" ng-model="metric" ng-options="m for m in metrics" placeholder="Metric" ng-change="GetTagKByMetric()" ng-init="GetTagKByMetric()" limit="30" bs-typeahead>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">Aggregator</span>
						<select ng-model="aggregator" ng-options="agg for agg in aggregators" class="form-control"></select>
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">Start Time</span>
						<input type="text" class="form-control" ng-model="start">
					</div>
				</div>
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">End Time</span>
						<input type="text" class="form-control" ng-model="end">
					</div>
				</div>
				<div class="form-group">
					<button class="btn btn-default" ng-click="Query()" class="form-control">Query</button>
				</div>
			</div>
		</div>
		<div class="col-lg-3">
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">Downsample</span>
					<select ng-model="ds" ng-options="agg for agg in dsaggregators" class="form-control"></select>
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">Downsample Time</span>
					<input type="text" class="form-control" ng-model="dstime">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">Counter Max</span>
					<input type="text" class="form-control" ng-model="cmax">
				</div>
			</div>
			<div class="form-group">
				<div class="input-group">
					<span class="input-group-addon">Counter Reset</span>
					<input type="text" class="form-control" ng-model="creset">
				</div>
			</div>
			<div class="form-inline">
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="rate"> Rate</label>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="counter"> Counter</label>
					</div>
				</div>
			</div>
		</div>
		<div class="col-lg-5">
			<div ng-repeat="(k, v) in tagset">
				<div class="form-group">
					<div class="input-group">
						<span class="input-group-addon">{{k}}</span>
						<input type="text" class="form-control" ng-model="tagset[k]" ng-options="tv for tv in tagvs[k]" bs-typeahead>
					</div>
				</div>
			</div>
			
		</div>
	</form>
</div>
<div class="row" ng-show="error">
	<div class="col-lg-12">
		<div class="alert alert-danger" ng-bind="error"></div>
	</div>
</div>
<div class="row" ng-show="running">
	<div class="col-lg-12">
		<div class="alert alert-info">Executing: {{running}}</div>
	</div>
</div>
<div class="row">
	<div google-chart ng-model="result" class="chart"></div>
</div>