<style type="text/css">
	.chart {
		margin: 50px;
	}
	.chart .rgraph {
		height: 250;
		margin-bottom: 24px;
	}
	.chart .x_tick .title {
		bottom: -24px;
	}
	.rgraph {
		position: relative;
		left: 40px;
	}
	.y_axis {
		position: absolute;
		top: 0;
		bottom: 0;
		width: 40px;
	}
	.rswatch {
		display: inline-block;
		width: 10px;
		height: 10px;
		margin: 0 8px 0 0;
	}
	.rlabel {
		display: inline-block;
	}
	.rline {
		display: inline-block;
		color: black;
		margin: 0 0 0 30px;
	}
</style>
<h1>{{host}}</h1>
<div class="row">
	<div class="col-lg-6">
		<h2>CPU</h2>
		<div class="chart cpu" ts-rickshaw="cpu" max="100" renderer="area"></div>
	</div>
</div>
<div class="row" ng-repeat="(k, v) in idata">
	<h2>Network Bytes: {{k}}</h2>
	<div class="chart" ts-rickshaw="idata[k]"></div>
</div>