<style type="text/css">
	.row.top-buffer { 
		margin-top:10px;
	}
</style>
<div class="row">
	<div class="col-sm-12">
		<form class="form-horizontal">
			<div class="col-sm-6">
				<div class="form-group">
					<label class="control-label col-sm-1">Metric</label>
					<div class="col-sm-11">
						<input type="text" class="form-control" ng-model="metric" ng-options="m for m in metrics" ng-change="GetTagKByMetric()" limit="30" bs-typeahead>
					</div>
				</div>
			</div>
			<div class="col-sm-6">
				<button class="btn btn-primary" ng-click="Submit()">Submit</button>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-sm-12">
		<form class="form-inline">
				<div class="col-sm-2">
					<label class="control-label">Time</label> 
				</div>
				<div class="col-sm-2">
					<label class="control-label">Value</label> 
				</div>
				<div class="col-sm-1"></div>
				<div class="col-sm-2">
					<label class="control-label">Tag Key</label> 
				</div>
				<div class="col-sm-2">
					<label class="control-label">Tag Value</label> 
				</div>	
		</form>
	</div>
</div>
<div class="row top-buffer">
	<div class="col-sm-12">
		<div class="col-sm-4">
			<form class="form-horizontal" ng-repeat="(k, v) in dps">
				<div class="form-group">
					<div class="col-sm-6">
						<input type="text" ng-model="dps[k].k" class="form-control" ng-change="AddDP()">
					</div>
					<div class="col-sm-6">
						<input type="text" ng-model="dps[k].v" class="form-control" ng-change="AddDP()">
					</div>
				</div>
			</form>
		</div>
		<div class="col-sm-1">
		</div>
		<div class="col-sm-4">
			<form class="form-horizontal" ng-repeat="t in tags">
				<div class="form-group">
					<div class="col-sm-6">
						<input type="text" ng-model="tags[$index].k" class="form-control" ng-change="AddTag()">
					</div>
					<div class="col-sm-6">
						<input type="text" ng-model="tags[$index].v" class="form-control" ng-change="AddTag()">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>	

