<style type="text/css">
	.nav-tabs {
		margin-bottom: 15px;
		margin-top: 15px;
	}
</style>
<div class="row">
	<div class="col-lg-6">
		<form>
			<div class="form-group">
				<label class="control-label" tooltip title="Downsample the data into fewer datapoints. Requires that the downsample window value is also provided.">Alert </label>
				<select ng-model="selected_alert" ng-change="alert = selected_alert.Def" ng-options="k for (k, v) in alerts" class="form-control">
					<option value="">Load Alert Definition</option>
				</select>
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="15" ng-model="alert" ng-keydown="shiftEnter($event)" ng-init="eval()"></textarea>
			</div>
		</form>
	</div>
	<div class="col-lg-6">
		<form>
			<div class="form-group">
				<label class="control-label" tooltip title="Downsample the data into fewer datapoints. Requires that the downsample window value is also provided.">Template </label>
				<select ng-model="selected_template" ng-change="template = selected_template.Def" ng-options="k for (k, v) in templates" class="form-control">
					<option value="">Load Template Definition</option>
				</select>
			</div>
			<div class="form-group">
				<textarea class="form-control" rows="15" ng-model="template" ng-keydown="shiftEnter($event)" ng-init="eval()"></textarea>
			</div>
		</form>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<form class="form-inline">
			<div class="form-group">
				<label class="control-label">Date</label>
				<input type="date" class="form-control" ng-model="date" placeholder="yyyy-mm-dd">
			</div>
			<div class="form-group">
				<label class="control-label">Time</label>
				<input type="time" class="form-control" ng-model="time" placeholder="HH:MM">
			</div>
			<div class="form-group">
				<button class="btn btn-default" ng-click="set()">Test</button>
			</div>
			<div class="form-group">
				<span class="help-block">shift-enter to submit<span>
			</div>
		</form>
	</div>
</div>
<ul class="nav nav-tabs">
	<li ng-class="{active: tab == 'results'}"><a href ng-click="tab = 'results'">Results</a></li>
	<li ng-class="{active: tab == 'template'}"><a href ng-click="tab = 'template'">Template</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" ng-class="{active: tab == 'template'}">
		<div class="row" ng-show="running">
			<div class="col-lg-12">
				<div class="alert alert-info">Executing: {{running}}</div>
			</div>
		</div>
		<div class="row" ng-show="error">
			<div class="col-lg-12">
				<div class="alert alert-danger" ng-bind="error"></div>
			</div>
		</div>
		<div class="row" ng-show="warning.length > 0">
			<div class="col-lg-12" ng-repeat="w in warning track by $index">
				<div class="alert alert-warning" ng-bind="w"></div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Subject</h3>
			</div>
			<div class="panel-body" ng-bind="subject"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Body</h3>
			</div>
			<div class="panel-body" ng-bind-html="body"></div>
		</div>
	</div>
	<div class="tab-pane" ng-class="{active: tab == 'results'}">
		<div class="row" ng-show="error">
			<div class="col-lg-12">
				<div class="alert alert-danger" ng-bind="error"></div>
			</div>
		</div>
		<div class="row" ng-show="running">
			<div class="col-lg-12">
				<div class="alert alert-info">Executing: {{running}}</div>
			</div>
		</div>
		<div class="row" ng-show="result">
			<div class="col-sm-12">
				<table class="table">
					<thead>
						<tr>
							<th>Group</th>
							<th>Status</th>
							<th>Expression</th>
							<th>Result</th>
							<th>Computations</th>
						</tr>
					</thead>
					<tbody ng-repeat="r in result | orderBy:'-status_number'">
						<tr>
							<td rowspan="2">
								{
								<span ng-repeat="(k, v) in r.CritResult.Group">
									{{k}}={{v}}<span ng-hide="$last">,</span>
								</span>
								}
							</td>
							<td rowspan="2" ng-bind="r.Status"></td>
							<td>critical</td>
							<td>
								<pre ng-bind="json(r.CritResult.Value)"></pre>
							</td>
							<td>
								<table class="table table-striped table-condensed">
									<tbody>
										<tr ng-repeat="c in r.CritResult.Computations">
											<td ng-bind="c.Text"></td>
											<td ng-bind="c.Value"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
						<tr>
							<td>warning</td>
							<td>
								<pre ng-bind="json(r.WarnResult.Value)"></pre>
							</td>
							<td>
								<table class="table table-striped table-condensed">
									<tbody>
										<tr ng-repeat="c in r.WarnResult.Computations">
											<td ng-bind="c.Text"></td>
											<td ng-bind="c.Value"></td>
										</tr>
									</tbody>
								</table>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>