<style type="text/css">
	.nav-tabs {
		margin-bottom: 15px;
		margin-top: 15px;
	}
	.template table {
		border-spacing: 2px;
		border-collapse: separate;
	}
	.template td, .template th {
		padding: 1px;
	}
</style>
<div class="row">
	<div class="col-lg-6">
		<div class="form-group">
			<label class="control-label">Alert</label>
			<select ng-model="selected_alert" ng-change="alert = selected_alert" ng-options="k for (k, v) in alerts" class="form-control">
				<option value="">Load Alert Definition</option>
			</select>
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="15" ng-model="alert" ng-keydown="shiftEnter($event)" ng-init="eval()" ts-tab></textarea>
		</div>
	</div>
	<div class="col-lg-6">
		<div class="form-group">
			<label class="control-label">Template</label>
			<select ng-model="selected_template" ng-change="template = selected_template" ng-options="k for (k, v) in templates" class="form-control">
				<option value="">Load Template Definition</option>
			</select>
		</div>
		<div class="form-group">
			<textarea class="form-control" rows="15" ng-model="template" ng-keydown="shiftEnter($event)" ng-init="eval()" ts-tab></textarea>
		</div>
	</div>
</div>
<div class="row">
	<div class="col-lg-6">
		<form class="form-inline">
			<div class="form-group">
				<label class="control-label">Date</label>
				<input type="text" class="form-control" ng-model="date" placeholder="yyyy-mm-dd" bs-datepicker data-date-format="yyyy-MM-dd" data-date-type="string">
			</div>
			<div class="form-group">
				<label class="control-label">Time</label>
				<input type="text" class="form-control" ng-model="time" placeholder="HH:MM">
			</div>
			<div class="form-group">
				<button class="btn btn-default" ng-click="set()">Test</button>
			</div>
			<div class="form-group">
				<span class="help-block">shift-enter to submit<span>
			</div>
		</form>
	</div>
</div>
<div class="row" ng-show="running">
	<div class="col-lg-12">
		<div class="alert alert-info">Executing: {{running}}</div>
	</div>
</div>
<div class="row" ng-show="error">
	<div class="col-lg-12">
		<div class="alert alert-danger" ng-bind="error"></div>
	</div>
</div>
<ul class="nav nav-tabs">
	<li ng-class="{active: tab == 'results'}"><a href ng-click="tab = 'results'">Results</a></li>
	<li ng-class="{active: tab == 'template'}"><a href ng-click="tab = 'template'">Template</a></li>
</ul>
<div class="tab-content">
	<div class="tab-pane" ng-class="{active: tab == 'template'}">
		<div class="row" ng-show="warning.length > 0">
			<div class="col-lg-12" ng-repeat="w in warning track by $index">
				<div class="alert alert-warning" ng-bind="w"></div>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Subject</h3>
			</div>
			<div class="panel-body template" ng-bind="subject"></div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title">Body</h3>
			</div>
			<div class="panel-body template" ng-bind-html="body"></div>
		</div>
		<h4>Available Variables</h4>
		<pre ng-bind="data"></pre>
	</div>
	<div class="tab-pane" ng-class="{active: tab == 'results'}">
		<div class="row" ng-show="results">
			<div class="col-sm-12">
				<h4>Time: {{resultTime}}</h4>
				<table class="table">
					<thead>
						<tr>
							<th>Group</th>
							<th>Status</th>
							<th>Expression</th>
							<th>Result</th>
							<th>Computations</th>
						</tr>
					</thead>
					<tbody ng-repeat="result in results" ng-init="r = result.result; group = result.group">
						<tr>
							<td rowspan="2" ng-bind="zws(group)"></td>
							<td rowspan="2" ng-bind="r.Status" ng-class="panelClass(r.Status, '')"></td>
							<td>critical</td>
							<td>
								<pre ng-bind="json(r.Crit.Value)" ng-show="r.Crit"></pre>
							</td>
							<td ts-computations="r.Crit.Computations"></td>
						</tr>
						<tr>
							<td>warning</td>
							<td>
								<pre ng-bind="json(r.Warn.Value)" ng-show="r.Warn"></pre>
							</td>
							<td ts-computations="r.Warn.Computations"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>