<div class="row">
	<div class="col-lg-12">
		<form class="form-horizontal">
			<div class="form-group">
				<label class="col-lg-1 control-label">alert rule</label>
				<div class="col-lg-11">
					<textarea class="form-control" rows="10" ng-model="expr" ng-keydown="shiftEnter($event)" ng-init="eval()"></textarea>
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-1 control-label">date</label>
				<div class="col-lg-2">
					<input type="date" class="form-control" ng-model="date" placeholder="yyyy-mm-dd">
				</div>
			</div>
			<div class="form-group">
				<label class="col-lg-1 control-label">time</label>
				<div class="col-lg-2">
					<input type="time" class="form-control" ng-model="time" placeholder="HH:MM">
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-11 col-lg-offset-1">
					<p class="form-control-static">If date and time are specified (UTC), use it as the now point for queries. This allows for testing alerts against past data. If time is unspecified, use the current time but on the specified date.</p>
				</div>
			</div>
			<div class="form-group">
				<div class="col-lg-11 col-lg-offset-1">
					<button class="btn btn-default" ng-click="set()">test</button>
					<span class="help-block">shift-enter to submit<span>
				</div>
			</div>
		</form>
	</div>
</div>
<div ts-results></div>