<div class="row">
	<div class="col-lg-12 timeline" ts-time-line></div>
</div>
<div class="row">
	<div class="panel-group" ng-repeat="entry in entries" ng-init="name = entry.key; a = entry.value">
		<div class="panel panel-default">
			<div class="panel-heading panel-title" ng-click="collapse('group' + $index)">
				<span ng-bind="name"></span>
				<span class="pull-right" ng-bind="a.History.length + ' events'"></span>
			</div>
			<div class="panel-body" ng-if="shown['group' + $index]">
				<table class="table">
					<tbody>
						<tr id="{{'panel' + $parent.$index + '-' + $index}}" ng-class="panelClass(v.Status, '')" ng-repeat="v in a.History">
							<td ng-bind="name + ': ' + v.Status"></td>
							<td ng-show="v.Time" ts-time="v.Time" ts-end-time="v.EndTime" no-link="true"></td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
