<div class="row" ng-show="loading">
	<div class="col-lg-12">
		<div class="alert alert-info" ng-bind="loading"></div>
	</div>
</div>
<div class="row" ng-show="error">
	<div class="col-lg-12">
		<div class="alert alert-danger" ng-bind="error"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
		<input
			class="form-control"
			type="text"
			ng-model="filter"
			ng-keydown="keydown($event)"
			placeholder="filter"
			tooltip
			title="Filter alert text by value. Various other state filters supported: status:<value> for alert status (ex: status:critical), ack:<false/true> for acknowledged (ex: ack:true), notify:<value> for notifications (ex: notify:sysadmin). A bang (!) may be prepended before any filter term to negate it (ex: !status:unknown)."
		>
	</div>
	<div class="col-sm-2">
		<a href="/errors"><button class="btn" ng-class="{'btn-default': !schedule.FailingAlerts, 'btn-danger': schedule.FailingAlerts}" style="float:right;" type="button">
  			<span class="badge">{{schedule.FailingAlerts}}/{{schedule.UnclosedErrors}}</span> Errors
		</button></a>
	</div>
</div>
<div ts-ack-group="schedule.Groups.NeedAck" ack="'Needs Acknowledgement'" schedule="schedule" timeanddate="timeanddate"></div>
<div ts-ack-group="schedule.Groups.Acknowledged" ack="'Acknowledged'" schedule="schedule" timeanddate="timeanddate"></div>