<div class="row" ng-show="loading">
	<div class="col-lg-12">
		<div class="alert alert-info" ng-bind="loading"></div>
	</div>
</div>
<div class="row" ng-show="error">
	<div class="col-lg-12">
		<div class="alert alert-danger" ng-bind="error"></div>
	</div>
</div>
<div class="row">
	<div class="col-sm-10">
		<div class="input-group">
		<input
			class="form-control"
			type="text"
			ng-model="filter"
			ng-keydown="keydown($event)"
			placeholder="filter"
			tooltip
			title="Filter incidents">
			<a class="input-group-addon" data-placement="bottom" href="https://bosun.org/usage#incident-filters" target="_blank">
				<i class="fa fa-question-circle-o fa-lg" aria-hidden="true"></i>
				<sup><i class="fa fa-external-link" aria-hidden="true"></i></sup>
			</a>
		</div>

	</div>
	<div class="col-sm-2">
		<a href="/errors"><button class="btn" ng-class="{'btn-default': !schedule.FailingAlerts, 'btn-danger': schedule.FailingAlerts}" style="float:right;" type="button">
  			<span class="badge">{{schedule.FailingAlerts}}/{{schedule.UnclosedErrors}}</span> Errors
		</button></a>
	</div>
</div>
<div ts-ack-group="schedule.Groups.NeedAck" ack="'Needs Acknowledgement'" schedule="schedule" timeanddate="timeanddate"></div>
<div ts-ack-group="schedule.Groups.Acknowledged" ack="'Acknowledged'" schedule="schedule" timeanddate="timeanddate"></div>