<!DOCTYPE html>
<html>
	<head>
		<title>TSAF</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link href="/static/css/bootstrap.min.css" rel="stylesheet">
		<style>
			.navbar-static-top {
				margin-bottom: 19px;
			}
		</style>
	</head>
	<body>
		<div class="navbar navbar-default navbar-static-top" role="navigation">
			<div class="container">
				<div class="navbar-header">
					<a class="navbar-brand" href="/">TSAF</a>
				</div>
			</div>
		</div>

		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control" id="query" value="start=5m-ago&m=avg:proc.stat.cpu{host=*}">
						</div>
						<button type="submit" class="btn btn-default" id="qbutton">query</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<div id="chart"></div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<form role="form">
						<div class="form-group">
							<input type="text" class="form-control" id="expr" value="avg([avg:proc.stat.cpu{host=*}], &quot;5m&quot;) > 5e7">
						</div>
						<button type="submit" class="btn btn-default" id="ebutton">test</button>
					</form>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<pre id="expr-result"></pre>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table class="table">
						<tr>
							<th>alert</th>
							<th>tags</th>
							<th>status</th>
							<th>status time</th>
							<th>touched</th>
						</tr>
						{{range $k, $v := .Schedule.Status}}
						<tr class="{{$v.Last.Status | status}}">
							<td>{{$k.Name}}</td>
							<td>{{$k.Group}}</td>
							<td>{{$v.Last.Status}}</td>
							<td>{{$v.Last.Time}}</td>
							<td>{{$v.Touched}}</td>
						</tr>
						{{end}}
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12">
					<table class="table">
						<tr>
							<th>metrics by tag set</th>
							<th>tag keys by metric</th>
							<th>tag values by metric and tag key</th>
						</tr>
						<tr>
							<td>
								<ul class="list-unstyled">
								{{range $q, $metrics := .Metric}}
									{{range $metric, $_ := $metrics}}
										<li><a href="#" class="metric">{{$metric}}{{`{`}}{{$q.A}}={{$q.B}}{{`}`}}</a></li>
									{{end}}
								{{end}}
								</ul>
							</td>
							<td>
								<ul class="list-unstyled">
									{{range $q, $tagks := .Tagk}}
										{{range $tagk, $_ := $tagks}}
											<li><a href="#" class="metric">{{$q}}{{`{`}}{{$tagk}}=*{{`}`}}</a></li>
										{{end}}
									{{end}}
								</ul>
							</td>
							<td>
								<ul class="list-unstyled">
									{{range $q, $tagvs := .Tagv}}
										{{range $tagv, $_ := $tagvs}}
											<li><a href="#" class="metric">{{$q.A}}{{`{`}}{{$q.B}}={{$tagv}}{{`}`}}</a></li>
										{{end}}
									{{end}}
								</ul>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<script type="text/javascript" src="https://www.google.com/jsapi"></script>
		<script type="text/javascript">
			google.load('visualization', '1.0', {'packages':['corechart']});
		</script>
		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
		<script>
			$('#qbutton').click(function(e) {
				e.preventDefault();
				var w = new google.visualization.ChartWrapper({
					chartType: 'LineChart',
					options: {
						width: $('#chart').width(),
						height: 500
					},
					dataSourceUrl: '/api/chart?' + $('#query').val(),
					containerId: 'chart'
				});
				w.draw();
			}).trigger('click');
			$('#ebutton').click(function(e) {
				e.preventDefault();
				$.getJSON('/api/expr?q=' + encodeURIComponent($('#expr').val()))
					.done(function(data) {
						$('#expr-result').text(JSON.stringify(data, null, "  "));
					})
					.fail(function(data) {
						$('#expr-result').text("ERROR: " + data.responseText);
					});
			}).trigger('click');
			$(function() {
				$(document).on('click', '.metric', function() {
					$('#query').val('start=30m-ago&m=sum:' + $(this).text());
					$('#qbutton').trigger('click');
				});
			});
			$(document).keypress(function(e) {
				if (e.which == 13) {
					$('#qbutton').trigger('click');
				}
			});
		</script>
		{{.Includes}}
	</body>
</html>