<!DOCTYPE html>
<html>
<head>
	<style>
		#query {
			width: 90%%;
			font-size:14px
		}
	</style>
</head>
<body>
	<div>
		<button id="qbutton">query</button>
		<input type="text" id="query" value="start=5m-ago&m=sum:redis.latency{host=*}">
	</div>
	<div id="chart"></div>
	<div>
		<p>m: {{.Metric}}
		<p>tagk: {{.Tagk}}
		<p>tagv: {{.Tagv}}
	</div>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load('visualization', '1.0', {'packages':['corechart']});
	</script>
	<script type="text/javascript">
	</script>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script>
		$('#qbutton').click(function() {
			var w = new google.visualization.ChartWrapper({
				chartType: 'LineChart',
				options: {
					width: 1000,
					height: 800,
					curveType: 'function'
				},
				dataSourceUrl: '/api/chart?' + $('#query').val(),
				containerId: 'chart'
			});
			w.draw();
		}).trigger('click');
	</script>
</body>
</html>