<!DOCTYPE html>
<html>
<body>
	<div id="chart"></div>
	<script type="text/javascript" src="https://www.google.com/jsapi"></script>
	<script type="text/javascript">
		google.load('visualization', '1.0', {'packages':['corechart']});
	</script>
	<script type="text/javascript">
		var w = new google.visualization.ChartWrapper({
			chartType: 'LineChart',
			options: {
				width: 1000,
				height: 800,
				curveType: 'function'
			},
			dataSourceUrl: '/api/chart',
			containerId: 'chart'
		});
		w.draw();
	</script>
</body>
</html>