<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Items</title>
	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/static/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
	{{ template "navbar" }}
	<div class="container">
		<div class="row">
			<div class="col-lg-6">
				<h1>Metrics</h1>
				<div id="metrics-list"></div>
			</div>
			<div class="col-lg-6">
				<h2>Hosts</h2>
				<div id="hosts-list"></div>
			</div>
		</div>
	</div>

	<script>
	function listAPI(route, target) {
		$.getJSON( route, function( data ) {
			var items = [];
			$.each( data, function( i, v ) {
				items.push( "<li id='" + i + "'>" + v + "</li>" );
			});

			$( "<ul/>", {
				"class": "list-unstyled",
				html: items.join( "" )
			}).appendTo( target );
		});
	};
	listAPI("/api/metric", "#metrics-list")
	listAPI("/api/tagv/host", "#hosts-list")
	</script>
</body>
</html>